@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="background-image: url(../../Content/Images/agenda-telefonica.jpg); ">
        <h1>Agenda Telefonica</h1>
        <p class="lead">Aplicación de estilo arquitectural en capas (N-Layer) en tencologias de .Net - C#, Entity Framework, Bootstrap, JQuery, SqlServer y Patrones de diseño </p>        
        <br /><br />
    </div>